
a.navbar-brand:visited{
    color: rgb(33, 155, 143);
}
.navbar-nav{
    float: right;
}
body{
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: auto;
    padding-bottom: 20px;
}
main{
    background-image: url("images/cool-background.jpg");
    padding-bottom: 10%;
    padding-right: 30%;
}
.container{
    background-color: white;
    margin-left: 50px; 
    margin-right: 80%;
    margin-bottom: 20px;
    height: 80%;
    padding-bottom: 15px;
}

.pull-left img{
    width: 50%;
    height: 50%;
    margin-right: 15px;
    float: left;
}
h1{
    color: rgb(33, 155, 143);
}
p{
 font-family: Arial, Helvetica, sans-serif;
}
footer {
    bottom: 0;
    width:100%;
    position: relative;
    border-top: solid  rgb(33, 155, 143);
    padding: 10px;
    background-color: gray;
    
}

h2{
    text-align: center;
    font-size: x-small;
}
/*Portfolio specific code*/
.col-md-6 img{
    padding: 15px;
    margin: 10px;
    height: 100%;
    width: 100%;
}
/* Contact specific code*/